
<% provide(:title, 'About Me') %>

<h1>About Me</h1>
<p>I'm a former Web Development Immersive student of General Assembly Los Angeles. You can find my personal webpage at <%= link_to  "The Johnny Mac", "http://thejohnnymac.com" %> and you can see my github <%= link_to  "here", "https://github.com/johnptmcdonald" %>.</p>
