
<% provide(:title, 'Help ') %>

<h1>Help</h1>


<p class="help">
  
Haiku (俳句) is a very short form of Japanese poetry typically characterised by three qualities:

<ul>
	<li> The essence of haiku is "cutting" (kiru). This is often represented by the juxtaposition of two images or ideas and a kireji ("cutting word") between them, a kind of verbal punctuation mark which signals the moment of separation and colors the manner in which the juxtaposed elements are related. </li>
	
	<br>

	<li> Traditional haiku consist of 17 <i>on</i> (also known as morae), in three phrases of 5, 7 and 5 <i>on</i> respectively.

	<br>

	<br><li>A kigo (seasonal reference), usually drawn from a <i>saijiki</i>, an extensive but defined list of such words.
		<br>
</ul>

	Modern Japanese haiku (現代俳句 gendai-haiku?) are increasingly unlikely to follow the tradition of 17 <i>on</i> or to take nature as their subject, but the use of juxtaposition continues to be honored in both traditional and modern haiku. There is a common, although relatively recent, perception that the images juxtaposed must be directly observed everyday objects or occurrences.

	In Japanese, haiku are traditionally printed in a single vertical line while haiku in English often appear in three lines to parallel the three phrases of Japanese haiku.







</p>