      <div class = "searchform">
        <%= form_tag searches_path, :method => 'get' do %>
            <%= text_field_tag "movie", params["movie"],  placeholder: "Enter movie search term here..." %>
            <%= submit_tag "Search Movies", class: "btn btn-primary shrink", :name => nil %>
        <% end %>
      
      </div>