// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* footer */



footer {
	margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
    color: #999;

	a {
		color: gray;

	  &:hover {
	  		color: gray;
  			text-decoration: none;
	  }
	}

	ul {
		float: right;
  		list-style: none;

  		li {
  			float: left;
			margin-left: 10px;
  		}
	}
}



.gravatar {
  float: left;
  margin-right: 10px;
}

input {
	width: 100%;
	margin: 4px 0px 15px 0px !important;
}


#error_explanation {
    color: red;
}

.field_with_errors {
    .form-control {
      color: red;
      border-color: red;
    }
}

.checkbox {
  margin: 0px 0px 15px 0px !important;

  span {
    margin: 0px 0px 0px 35px;
    font-weight: normal;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}


aside {
  textarea {
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



.user_info {
  margin: 0px 0px 15px 0px;

  span {
    display: block;
  }
  h4 {
    margin: 24px 0px 0px 0px;
  }
}

#please_log_in {
  margin: 22px 0px 0px 0px;
  text-align: justify
}
