

<footer class="footer">

	<small>
		<div class="pull-left">
		<p>A General Assembly project by <%= link_to "John McDonald", "https://github.com/johnptmcdonald" %></p>
		</div>
		<nav>
			<ul>
				<li><%= link_to "About", "#" %></li>
				<li><%= link_to "Contact", "#" %></li>
				<li><%= link_to "My Github", "https://github.com/johnptmcdonald" %></li>
			</ul>
		</nav>

	</small>
</footer>